/* Gradient Background */
#canvas-basic {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
/* Jumbotron and navbar */
.jumbotron, .navbar, .card {
	background: rgba(151, 161, 189, 0.7);
}
.card-header {
	background: #2d404e;
}

@media screen and (max-width: 767px) {
	.jumbotron h1 {
		text-align: center;
	}
}
@media screen and (min-width: 768px) {
	.jumbotron {
		margin-left: 3rem;
		margin-right: 3rem;
	}
}
/* Sticky Footer */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height:60px; /* Vertically center the text here */
}
.nav-tabs .nav-item.show .nav-link {
	border-color: rgba(0, 0, 0, 0.22) rgba(0, 0, 0, 0.22) rgba(255, 255, 255, 0);
}
.nav-tabs .nav-link.active {
	background: #89bdc2;
}